[submodule "Command-Interpreter"]
	path = Command-Interpreter
	url = https://github.com/ZenynEthridge/Command-Interpreter.git
[submodule "Exported-PID-Testing"]
	path = Exported-PID-Testing
	url = https://github.com/Cyclone-Robosub/Exported-PID-Testing.git
[submodule "exported-PID-control"]
	path = exported-PID-control
	url = https://github.com/Cyclone-Robosub/exported-PID-control.git
